<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Main Rule" stopProcessing="false">
                    <match url=".*"/>
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
                    </conditions>
                    <action type="Rewrite" url="index.php"/>
                </rule>
                <rule name="Media Folder" stopProcessing="false">
                    <match url="media/*"/>
                    <conditions logicalGrouping="MatchAll">
                    </conditions>
                    <action type="Rewrite" url="index.php"/>
                </rule>
            </rules>
            <outboundRules rewriteBeforeCache="true">
                <rule name="Remove Server header">
                    <match serverVariable="RESPONSE_Server" pattern=".+" />
                    <action type="Rewrite" value="Hamsters-n-Coffee" />
                </rule>
            </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>
